<p>
  <mat-toolbar color="primary">
    <span routerLink="">My Shop</span>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="registerUser()"
      *ngIf="!loggedInUser"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <span *ngIf="loggedInUser" (click)="showProfile()">{{
      loggedInUser.fullName
    }}</span>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="cart"
    >
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="shoppingItems.length !== 0">{{ shoppingItems.length }}</span>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="logout()"
    >
      <mat-icon *ngIf="loggedInUser">exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
