<form class="example-form" [formGroup]="userForm">
  <mat-form-field class="example-full-width">
    <mat-label>Full Name</mat-label>
    <input
      matInput
      placeholder="Full Name"
      value=""
      formControlName="fullName"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Password"
      formControlName="password"
      type="password"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="Confirm Password"
      formControlName="confirmPass"
      type="password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="addUser(userForm)"
    type="button"
    [disabled]="userForm.invalid"
  >
    Register User
  </button>
  <button mat-raised-button color="primary" (click)="login()" type="button">
    Login
  </button>
</form>
